.widget-about {
  .logo {
    max-width: 7em;

    a {
      display: block;
      line-height: 0;
    }

    .sidebar & {
      margin-left: auto;
    }
  }

  .site-title {
    margin: 10px 0;
    @include font-size(1.5);
  }

  .sidebar &.sep-after {
    &:after {
      border-bottom-color: $color__accent;
    }
  }
}

.fb-about--mobile {
  text-align: center;
  margin: 10px 0 20px 0;
  .logo {
    margin: 0 auto;
  }
}
